@model Coinage.Web.Models.Baskets.BasketModel.BasketItemModel

<div class="row">
    @using (Html.BeginForm("UpdateBasketItem", "Basket"))
    {
        <div class="col-md-1">
            <a class="pull-left" href="@Url.Action("Index", "Product", new { id = Model.ProductId })">
                <img src="http://placehold.it/75x75&text=@Model.ItemName" alt="@Model.ItemName" class="media-object" />
            </a>
        </div>
        <div class="col-md-4">@Html.ActionLink(Model.ItemName, "Index", "Product", new { id = Model.ProductId }, null)</div>
        <div class="col-md-2">@Html.TextBoxFor(i => i.Quantity)</div>
        <div class="col-md-1">@Model.UnitPrice</div>
        <div class="col-md-1">@Model.SubTotal</div>
        <div class="col-md-1">
            <input type="submit" value="Update" class="btn btn-default" />
            @Html.HiddenFor(i => i.Id)
            @Html.HiddenFor(i => i.ProductId)
        </div>
    }
</div>

