@model Coinage.Web.Models.Product.FeaturedProductsModel
@{
    Layout = null;
    bool firstItem = true;
}

@if (Model.Products.Any())
{
    <div id="carousel-example-generic" class="slide carousel" data-ride="carousel">
        <div class="carousel-inner">
            @foreach (var product in Model.Products)
            {
                <div class="item @(firstItem ? "active" : "")">
                    <img src="http://placehold.it/1170x450&text=@product.Name" alt="@product.Name">
                    <div class="carousel-caption">
                        <h3>@product.Name</h3>
                        <p>@product.Description</p>
                        <p>@Html.ActionLink("View »", "Index", "Product", new { id = product.Id }, null)
                    </div>
                </div>
                firstItem = false;
            }
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
}
